
.table-view .column-header {
  -fx-background-color: yellow;
}

.table-row-cell: hover {
  -fx-background-color: #93f9b911;
  -fx-text-background-color: transparent;
}
.table-row-cell: odd{
/*  -fx-background-color: yellow; */
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}
.table-row-cell: even{
  -fx-background-color: lightblue;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}

#totalGridPane {
  -fx-border-color: black;
  -fx-border-width: 2pt;
  
}

#totalLabel {
  -fx-background-color: yellow;
  -fx-font-weight: bold;
  -fx-border-color: black;
}

.text-field {
  -fx-border-color: black;
}